.object-contain {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 20px;
}
.logo {
    display: flex;
}
.title {
    @apply mt-7 text-3xl
  font-extrabold leading-[1.15] text-orange-600 sm:text-3xl;
}

.mobile-navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -50px;
}

@media only screen and (max-width: 600px) {
    .mobile-navigation {
        display: none;
    }
    .title {
        display: none;
    }
}

.create-post  {
    background-color: black;
    color: white;
    padding:5px;
    border-radius: 4px;
    margin-right: 2px;
}
.sign-out {
    background-color: red;
    color: white;
    padding:5px;
    border-radius: 4px;
    margin-right: 2px;
}
.not-have {
    margin-top: 50px;
}
.sign-in {
    background-color: greenyellow;
    color: white;
    padding:5px;
    border-radius: 4px;
    margin-right: 2px;
}